@import "../node_modules/bootstrap/scss/bootstrap.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.w-md-50 {
    @media only screen and (min-width: 767.98px) {
        width: 50%;
    }
}
